/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

.ocultar_barra_scroll {
  scrollbar-width: none;        /* Firefox */
  -ms-overflow-style: none;     /* Internet Explorer 10+ */
}

.ocultar_barra_scroll::-webkit-scrollbar {
  display: none;                /* WebKit: Chrome, Safari */
}