<div class="w-full mx-auto overflow-hidden relative md:w-4/6 md:rounded-xl shadow-lg">
  <!-- Slides -->
  <div class="flex transition-transform duration-300 ease-in-out"
       [style.transform]="'translateX(-' + currentIndex * 100 + '%)'"
       style="width: 100%">
    <ng-container *ngFor="let promo of lista_promociones; let i = index">
      <div class="w-full shrink-0 relative">
        <!-- Imagen principal -->
        <div class="relative w-full h-80 md:h-[36rem] md:rounded-xl overflow-hidden">
            <img
              [ngSrc]="promo.img"
              fill
              class="object-content rounded-xl"
          />
        </div>

        <!-- Descripción estilo cristal profesional -->
        <div class="absolute bottom-6 left-6 right-6 backdrop-blur-sm bg-white/15 rounded-xl p-6 text-white shadow-2xl border border-white/20">
          <h2 class="text-xl md:text-3xl font-extrabold tracking-wide uppercase drop-shadow-lg">
            {{ promo.Nombre }}
          </h2>
          <p class="text-lg md:text-2xl font-bold mt-2 drop-shadow-md text-white/90">
            ${{ promo.Costo }}
          </p>
          <button (click)="abrirModal(promo)"
                  class="mt-4 px-5 py-2.5 bg-yellow-500 text-white font-semibold rounded-full hover:bg-yellow-600 transition-all shadow-md hover:shadow-lg">
            Detalles
          </button>
        </div>
      </div>
    </ng-container>
  </div>

  <!-- Botones de navegación -->
  <div class="absolute bottom-5 left-0 right-0 flex justify-center gap-2 z-10">
    <ng-container *ngFor="let _ of lista_promociones; let i = index">
      <button (click)="cambiarSlide(i)"
              [ngClass]="{
                'bg-gray-300': i !== currentIndex,
                'bg-yellow-500': i === currentIndex
              }"
              class="w-3 h-3 rounded-full cursor-pointer transition-all duration-300 hover:scale-110">
      </button>
    </ng-container>
  </div>
</div>




<!-- Modal -->
<div *ngIf="promoSeleccionado" class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50">
  <div class="bg-white p-6 rounded-lg shadow-lg w-5/6">
    <img [src]="promoSeleccionado.img" class="w-full h-72 object-content rounded" />
    <h3 class="text-xl font-semibold mt-4">{{ promoSeleccionado.Nombre | uppercase}}</h3>
    <p class="text-sm text-gray-700 mt-2">{{ promoSeleccionado.descripcion }}</p>
    <div class="text-right mt-4">
      <button (click)="cerrarModal()" class="px-4 py-2 bg-red-500 text-white rounded hover:bg-red-600">
        Cerrar
      </button>
    </div>
  </div>
</div>
  